__pycache__
*.pyc
.git
.porcini_key
.porcini_pass
static/index.html
static/heatmap.js
data/cache
data/forest/**/*.pkl
data/forest/**/*.zip
data/forest/**/*.shp
data/forest/**/*.dbf
data/forest/CartaForestale*
data/forest/pr.zip
.DS_Store
